html, body {
	font-family: Arial;
	margin:0;
}

header{
	background-color:#aa0000;
	padding:40px;
	text-align: center;

}

h1{

	font-size: 90px;
	color:white;

}

header img{
	border-radius: 195px;
	border: 10px solid white;


}

.content{

	margin:400px;

		background-color: orange;
	padding: 0 20px;
	

}

.big-image{

	width: 100%;
}
